/* app/assets/stylesheets/application.css */

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@font-face {
  font-family: 'PixelMplus10';
  src: url('/assets/fonts/PixelMplus10-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  @apply font-dot;

  background-image: url('../images/default_bg.png');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}


.layout {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 200px;
  background-color: #f9f9f9;
  padding: 20px;
  position: sticky;
  top: 0;
  height: 100vh;
}

.main {
  flex-grow: 1;
  padding: 20px;
}
